<a href="https://colab.research.google.com/github/hondaki/EU_M_Math/blob/main/Chap4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
#from numpy.random import random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame
import math

import matplotlib.pyplot as plt
import matplotlib as matplotlib
import seaborn as sns

import requests, zipfile
from io import StringIO
import io

In [ ]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip"

r = requests.get(url,stream=True)

In [ ]:
r

In [ ]:
z = zipfile.ZipFile(io.BytesIO(r.content))

In [ ]:
z.extractall()

In [ ]:
ls

sample_data/  student-mat.csv  student-merge.R  student-por.csv  student.txt

In [ ]:
df = pd.read_csv( "student-mat.csv", sep=";")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
df.groupby('sex')['age'].describe()

     count       mean       std   min   25%   50%   75%   max
sex
F    208.0  16.730769  1.201696  15.0  16.0  17.0  18.0  20.0
M    187.0  16.657754  1.356181  15.0  16.0  16.0  18.0  22.0