<a href="https://colab.research.google.com/github/hondaki/EU_M_Math/blob/main/Chap_06_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
#from numpy.random import random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame
import math

import matplotlib.pyplot as plt
import matplotlib as matplotlib
import seaborn as sns

import requests, zipfile
from io import StringIO
import io

In [ ]:
df = DataFrame(
    np.arange(12).reshape(3,4),
    index = [['c','d','d'],[1,2,1]],
    columns = [['Kyoto','Nagoya','Hokkaido','Kyoto'],
               ['Yellow','Yellow','Red','Blue']
    ]
)
df.index.names=['key1','key2']
df.columns.names=['city','color']

In [ ]:
df

city       Kyoto Nagoya Hokkaido Kyoto
color     Yellow Yellow      Red  Blue
key1 key2
c    1         0      1        2     3
d    2         4      5        6     7
     1         8      9       10    11

In [ ]:
df['Kyoto']

color      Yellow  Blue
key1 key2
c    1          0     3
d    2          4     7
     1          8    11

In [ ]:
df.loc['d']

city   Kyoto Nagoya Hokkaido Kyoto
color Yellow Yellow      Red  Blue
key2
2          4      5        6     7
1          8      9       10    11

In [ ]:
df.mean(level='city', axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

city       Kyoto  Nagoya  Hokkaido
key1 key2
c    1       1.5     1.0       2.0
d    2       5.5     5.0       6.0
     1       9.5     9.0      10.0

In [ ]:
df.groupby(level=0, axis=1).mean()

city       Hokkaido  Kyoto  Nagoya
key1 key2
c    1          2.0    1.5     1.0
d    2          6.0    5.5     5.0
     1         10.0    9.5     9.0

In [ ]:
df.groupby(level='city', axis=1).mean()

city       Hokkaido  Kyoto  Nagoya
key1 key2
c    1          2.0    1.5     1.0
d    2          6.0    5.5     5.0
     1         10.0    9.5     9.0

In [ ]:
df.mean(level=0, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

city       Kyoto  Nagoya  Hokkaido
key1 key2
c    1       1.5     1.0       2.0
d    2       5.5     5.0       6.0
     1       9.5     9.0      10.0

In [ ]:
a=df.groupby(level=1, axis=0).mean()
a.mean(axis=1).sum()

11.0

In [ ]:
a

city   Kyoto Nagoya Hokkaido Kyoto
color Yellow Yellow      Red  Blue
key2
1        4.0    5.0      6.0   7.0
2        4.0    5.0      6.0   7.0

In [ ]:
df.drop(1,level=1)

city       Kyoto Nagoya Hokkaido Kyoto
color     Yellow Yellow      Red  Blue
key1 key2
d    2         4      5        6     7

In [ ]:
df

city       Kyoto Nagoya Hokkaido Kyoto
color     Yellow Yellow      Red  Blue
key1 key2
c    1         0      1        2     3
d    2         4      5        6     7
     1         8      9       10    11